version: "3.9"

services:
    backend:
        build:
            context: ../../../steam-data-project/
            dockerfile: ./apps/backend/Dockerfile
        container_name: backend
        command: >
            uvicorn main:app
            --host 0.0.0.0
            --port 8000
            --reload
            --reload-dir /app
        ports:
            - "8000:8000"
        volumes:
          - ./apps/backend/source:/app
          - ./package/python:/app/package/python
        env_file:
            - .env
volumes:
    mongo_data:
